table {
    margin-top: 150px;
    margin-bottom: 300px;
    margin-left: 300px;
    margin-right: 200px;
    background-color: rgb(107, 13, 60);
    padding: 45px;
    
  }
button{
    display: block;
    margin: 0 auto;
}
td{
    color: white;
}

body{
    background-color: rgb(148, 54, 109);
}